@charset "UTF-8";
* {margin: 0px; padding: 0px;
font-family: "Jua", sans-serif;
font-weight: 500;
font-style: normal;  
}
body {width: 100%; overflow-x: hidden; height: 100vh;}
ul {list-style: none;}
a {text-decoration: none; color: black;}
.ypage { clear:both; width: 100%;  }
.ypage:after { content:""; display:block; width:100%; clear:both; }

/*header*/
.yhd {width: 100%; height: 90px;
    display: flex;
    position: fixed;
    overflow: hidden;
    justify-content: center; 
    background-color: rgba(226, 221, 221, 0.3);
    z-index: 9999;
}
.ylogo {width: 250px;
}
.ylogo img { width: 90px; height: 90px;
    margin-left: 150px;
}
.ybox {flex-grow: 1;}
.ymenu {width: 1300px;
        display: flex;
        margin-top: 32px;
        text-align: center;
}
.item1>p {width: 180px;}
.ymenu>li {float: left;
        margin-left: 60px;
        font-size: 30px;
        color: #333;
        text-shadow: 0px 0px 2px;
}
.sub li a {font-size: 20px; color: white;}
        .item1 p>a {color: white;}
.sub {height: 0px; width: 180px; overflow: hidden;}
.sub>li {height: 50px; }
.ymenu:hover .sub {height: 250px;
    transition-duration: 1s;
}
.item1 > p> a:after {content: "";
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 50%;
    bottom: -14px;
    transition: all .5s;
}

/*page1*/
#page1 {overflow-y: hidden; height: 700px; scrollbar-width: none;
    position: relative;
}
#page1 img {width: 1920px;height: 1040px; margin-top: 0px; }
.wel {position: absolute;
    left: 50%;
    top: 270px;
    text-align: center;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px gray;
}
.city {position: absolute;
    left: 50%;
    top: 150px;
    text-align: center;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: white;
    text-shadow: 0px 0px 10px gray;
}

/*page2*/
#page2 {height: 60px; width:1920px;
    position: relative; 
}
#page2::after {
    height: 60px; width:1920px;
    background-image: url(./imgs/top07.1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}
.searchbox {width: 600px; height: 40px;
    position: relative;
    margin: auto;
}
#ysearch {width: 100%; height: 40px; 
    border-radius: 20px;
    border: 1px solid #333;
    margin-top: 10px;
    position: absolute;
    box-shadow: 0 0 10px;
}
.ysearchbtn {float: right;
    border-radius: 50%;
    border: none;
    font-size: 28px;
    background: white;
    position: absolute;
    height: 20px;
    top: 15px;
    right: 10px
}


/*page3*/



.ybackbox {width: 1700px; height: 650px;
    border-radius: 25px;
    margin: 0px auto;
    margin-top: 5px;
    background-color: rgba(226, 221, 221, 0.3);
    display: flex;
}
.nori  {width: 2400px; height: 600px;
    margin-top: 25px;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
}
.slides img {width: 300px; height: 425px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.slides {position: absolute;
    left: 0; top: 0;
    width: 2400px;
    height: 450px;
    overflow: hidden;
    transition: left 0.5s ease-in-out;
}
.slides li {float: left;
    width: 300px; height: 435px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 15px;
}

.slides.animated {
    transition: 0.5s ease-out;
}

.ybtn {width: 60px; height: 30px;}
#prev {margin-top: 525px; margin-left: 550px;}
#prev,#next {border-radius: 6px;
    background-color: #353a35;
    color: white;
    font-size: 20px;
    width: 80px; height: 30px;
    box-shadow: 0 0 10px gray;
}
#prev:hover,#next:hover {background-color: #4d574d;}
.mal {float: left;
    margin-left: 100px;
    margin-top: 15px;
}
.speech-bubble {
	position: relative;
	background: #E2495B;
    color: antiquewhite;
	border-radius: 4em;
    box-shadow: 0 0 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #E2495B;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.calendar {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    width: 300px;
    }
    .calendar-container {
    border: 3px solid #333;
    border-radius: 8px;
    width: 300px;
    height: 370px;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 0 0 10px;
    }
    .cheader {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
    #calendarTable {
    width: 100%;
    }
    th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    }
    /* 토요일에 파란색 적용 */
    td:nth-child(7n) {
        color: blue;
    }

    /* 일요일에 빨간색 적용 */
    td:nth-child(7n+1) {
        color: red;
    }
    /* 토요일에 파란색 적용 */
    th:nth-child(7n) {
        color: blue;
    }

    /* 일요일에 빨간색 적용 */
    th:nth-child(7n+1) {
        color: red;
    }
    .sday {color: black;
        border-radius: 40px;
        background-color: #F4ED6E;
        
    }
    #cprevBtn,#cnextBtn {
    background-color: #353a35;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    }

/*page4*/
#page4 {height: 650px; overflow: hidden;
    margin: 0px; padding: 0px;
}
.ybox3 img {width: 634px; height: 650px;}
.ybox3 {width: 2600px;
    display: flex;
}
    

/*page5*/
#page5 {background-image: url(./imgs/bimg.JPG);
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    position: relative;
}
.ybox5 {border: 1px solid #333;
    border-radius: 15px;
    background-color: aquamarine;
    width: 720px; height: 500px;
    float: left;
    position: absolute;
    top: 75px;
}
#ynoti {animation: slide 1.5s ease-in-out;
    left: 130px;
}
#yqna {animation:  slide2 2s ease-in-out;
    right: 130px;
}

@keyframes slide {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 130px;
        opacity: 1;
    }
}
@keyframes slide2 {
    from{
        right: 2000px;
        opacity: 0;
    }
    to{
        right: 130px;
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        left: 130px;
        opacity: 1;
    }to {
        left: -100px;
        opacity: 0;
    }
}
@keyframes disappear2 {
    from {
        right: 130px;
        opacity: 1;
    }to {
        right: 2000px;
        opacity: 0;
    }
}
/*footer*/
footer {width: 100%; height: 250px;
    background-color: #333;
}